.user-detail {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.user-detail form {
  width: 600px;
  height: 100%;
  margin: 0 auto;
}
